.container-fluid{
    padding : 3% 15%;
}

h1{
    margin-left: 150px;
}
.map-1{
    width:1200px;
    height:730px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
